* {
    /*font-family: helvetica;*/
    font-family: trebuchet MS;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    background-attachment: fixed;
    background-image: url("../images/blur.JPG");
}
#welcome{
    background-image: url("../images/icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 24% auto;
    height: 800px;
    width: 100%;
}
header {
 background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#dropArea{
    border: 4px dashed #fff;
    border-radius: 6px 6px 6px 6px;
    position: fixed;
    right: 70px;
    top: 100px;
    width: 100px;
}
#dropArea:hover{
    border-color: #2E62D9;
    }
#files {
    border: 1px solid blue;
    border-radius: 4px;
    color: #888888;
    width: 100%;
    height:30px;
    opacity: 0;
}
#message{
    color: #fff;
    font-size: 1.1em;
    font-style: italic;
    position: fixed;
    right: 56px;
    top: 70px;
}
#legend{
    position: fixed;
    top: 300px;
    right: 50px;
}
#wrapper{
     margin-left: 10%;
 /*   margin-right: auto;*/
    margin-top: 60px;
    width: 70%;
}
#txtQuery{
    border: 1px solid #1e449b;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    font-size: 1.1em;
    margin: 12px;
    padding: 6px;
    width: 55%;
}
#queryFeed {
    background:#1E449B;
    color: #FFFFFF;
    font-size: 1em;
    height: 34px;
    padding: 6px;
    width: 105px;
}
#queryFeed:hover {
    background-color:#2E62D9;
    cursor: pointer;
}
.journalName {
    color: #80A4F6;
    font-size: 1.4em;
    margin-bottom: 10px;
    margin-left: -100px;
    margin-top: 30px;
    border-bottom: 1px dotted #666
}
li{
    background-color: rgba(0, 0, 0, 0);
    /*border-bottom: 1px solid #AAAAAA;*/
    color: #999999;
    list-style: none outside none;
    margin-bottom: 30px;
    padding: 32px 3px;
}

#item{
    background-color: rgba(0, 0, 0, 0);
    /*border-bottom: 1px solid #AAAAAA;*/
    color: #999999;
    list-style: none outside none;
    margin-bottom: 30px;
    padding: 32px 3px;
}


.coverImage{
    width: 100px;
}
.itemTitle{
    margin-bottom: 2px;
    color: #fff;
    padding: 4px;
    border-radius: 2px;
    border-bottom: 1px solid #bcbcbc;
}
.itemDate img {
    height: 20px;
    margin-right: 5px;
}
.itemDate{
    margin-bottom: 4px;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    color: #999;
}
.recentFeed{
    color: #FF0002;
    color: #bbb;
    font-size: 0.6em;
    left: -105px;
    letter-spacing: 1px;
    position: relative;
    width: 81px;
}
a{
    text-decoration: none;
    color: #fff;overflow: hidden;
}
.itemTitle a{
    color:#fff;
    text-decoration:none
}
.itemAuthor img {
    height: 16px;
    margin-left: 3px;
    margin-right: 9px;
}
.itemAuthor{
    color: #aaa;
    font-size: 0.7em;
    font-style: italic;
    margin: 10px 0;
}
.itemTitle a:hover{
    text-decoration:underline;
}
.itemContent{
    font-size: 1em;
    margin-bottom: 10px
}
.container{
    width: 68%;
    margin-left: 12%;
    padding: 4px;
}
/*.myTag {
    font-size: 0.9em;
    margin-right: 4px;
    color:#fff;
    clear: both;
    float: left;
    font-size: 0.8em;
    left: 101%;
    margin-bottom: 4px;
    padding: 4px 10px;
    position: relative;
    top: -90px;
    border: 1px solid #666;
}*/
.social {
    border: 1px dotted #AAAAAA;
    margin-bottom: 8px;
    padding: 8px 4px 7px 8px;
    width: 60px;
}
.mail{
   background-image: url("../images/mail.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 2px 13px;
}
.mail:hover{
    background-position: 0 -24px;
}
.twitter{
    background-image: url("../images/twitter.png");
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding: 2px 13px;
    margin-left: 10px
}
.twitter:hover{
    background-position: 0 -19px;
}
.tagImg{
    float: left;
    height: 20px;
    margin-right: 10px;
    margin-top: 4px;
}
.myTag{
    color: #FFFFFF;
    float: left;
    font-size: 0.8em;
    left: 101%;
    margin-bottom: 4px;
    margin-right: 8px;
    margin-top: 4px;
    padding: 2px 10px;
    border-radius: 2px;
    background-image: url("../images/noise.png");
}
